@import "variables";
@import "custom";
@import "breakpoints";
@import "infinite_tabs";

html {
    font-size: 16px;
}

body {
    background-color: #f7f7f7;
}

.menuBar {
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-size: .875rem;

    li.active {
        background-image: none;
        background-color: transparent;
    }

    li.active a {
        background-color: #5a6770;
    }

    li {

        a {
            transition: all .3s;

            &:hover {
                background-color: #5a6770;
            }

            ;
        }

        ul.child_menu {
            li {
                &:hover {
                    background-color: transparent;
                }

                padding-left: 0px;
                background-color: transparent;
                list-style: none;

                a {
                    padding: 10px 10px 10px 45px;
                    font-size: 14px;
                    background-color: transparent;
                    color: $white;
                    background-color: rgba(255, 255, 255, .07);
                    margin-bottom: 1px;
                    transition: all .3s;

                    &:hover {
                        background-color: rgba(255, 255, 255, .15);
                    }

                    &:focus {
                        background-color: rgba(255, 255, 255, .15);
                    }
                }
            }
        }
    }
}



.loginWrap {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
    display: $flex;
    flex-direction: column;
    min-height: 100vh;

    @include media-breakpoint-up(sm) {
        height: auto;
    }

    @include media-breakpoint-up(md) {
        height: auto;
    }

    @include media-breakpoint-up(lg) {
        height: 100vh;
    }

    @include media-breakpoint-up(xl) {
        height: 100vh;
    }

    .loginBox {
        @include media-breakpoint-up(sm) {
            width: 100%;
            flex-direction: column-reverse;

        }

        @include media-breakpoint-up(md) {
            width: 80%;
            flex-direction: column-reverse;
        }

        @include media-breakpoint-up(lg) {
            width: 75%;
            flex-direction: row;
        }

        @include media-breakpoint-up(xl) {
            width: 75%;
            flex-direction: row;
        }

        width: 75%;
        height: auto;
        background-color: $white;
        display: $flex;

        .loginSection {
            @include media-breakpoint-up(sm) {
                width: 100%;
                padding: 40px;
            }

            @include media-breakpoint-up(md) {
                width: 100%;
            }

            @include media-breakpoint-up(lg) {
                width: 50%;
            }

            @include media-breakpoint-up(xl) {
                width: 50%;
            }

            h2 {
                font-size: 36px;
                color: $blueColor;
            }

            .field-wrapper {
                margin-top: 40px;
            }

            button {
                width: 100%;
                background-color: $blueColor;
                border: 0;
                font-size: 1.375rem;
                color: #fff;
                padding: 8px 0px;
                border-radius: 6px;
                margin-top: 30px;
            }

            .loginActions {
                display: $flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 30px;

                button {
                    font-size: 14px;
                    background-color: $grayColor;
                    padding: 6px 15px;
                    width: auto;
                    font-weight: $fontBold;
                    margin: 0px;
                }

                label {
                    color: $blueColor;
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }

        .loginIntro {
            @include media-breakpoint-up(sm) {
                width: 100%;
            }

            @include media-breakpoint-up(md) {
                width: 100%;
            }

            @include media-breakpoint-up(lg) {
                width: 50%;
            }

            @include media-breakpoint-up(xl) {
                width: 50%;
            }

            background-color: $blueColor;
            box-shadow: 30px 0 30px -30px rgba(0, 0, 0, 1) inset;
            justify-content: center;
            align-items: center;
            padding: 30px;
            display: $flex;
            flex-direction: column;

            .introLanguage {
                font-size: 16px;
                color: $white;
                margin-left: auto;
                padding-right: 40px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                .fa {
                    font-size: 13px;
                    color: rgba(255, 255, 255, .3);
                }
            }

            .introLogo {
                width: 40%;

                img {
                    width: 100%;
                }
            }

            h2 {
                font-size: 1.625rem;
                color: $white;
                text-align: center;
            }

            p {
                font-size: .875rem;
                color: $white;
                text-align: justify;
                padding: 20px 40px;

                @include media-breakpoint-up(sm) {
                    display: none;
                }

                @include media-breakpoint-up(md) {
                    display: none;
                }

                @include media-breakpoint-up(lg) {
                    display: block;
                }

                @include media-breakpoint-up(xl) {
                    display: block;
                }
            }
        }
    }

    .copyRightInfo {
        width: 75%;
        text-align: right;
        font-size: 12px;
        color: $grayColor;
        margin-top: 20px;
    }
}

.goRight {
    .loginBox {
        @include media-breakpoint-up(xs) {}

        @include media-breakpoint-up(sm) {}

        @include media-breakpoint-up(md) {}

        @include media-breakpoint-up(lg) {
            flex-direction: row-reverse;
        }

        @include media-breakpoint-up(xl) {
            flex-direction: row-reverse;
        }

        .loginSection {
            .field-wrapper {
                text-align: right;

                .float_spl_label {
                    right: 0;
                }

                input[type="text"],
                input[type="password"] {
                    text-align: right;
                }
            }

            .loginActions {
                flex-direction: row-reverse;
            }

            h2 {
                text-align: right;
            }
        }

        .loginIntro {
            .introLanguage {
                margin-left: 0px;
                margin-right: auto;
                padding-left: 40px;
            }
        }
    }

    .copyRightInfo {
        text-align: left;
    }
}

.tabWrap {
    padding: 0px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    @include media-breakpoint-up(xs) {
        height: calc(100vh - 200px);
    }

    @include media-breakpoint-up(md) {
        height: calc(100vh - 200px);
    }

    @include media-breakpoint-up(lg) {
        height: calc(100vh - 180px);
    }

    @include media-breakpoint-up(xl) {
        height: calc(100vh - 180px);
    }
}

.titleBox {
    min-height: 44px;
    background-color: #e1e1e1;
    border: 1px solid #cecece;
    display: $flex;
    align-items: $center;

    @include media-breakpoint-up(xs) {
        min-height: auto;
        flex-wrap: wrap;
    }

    @include media-breakpoint-up(md) {
        min-height: auto;
        flex-wrap: wrap;
    }

    @include media-breakpoint-up(lg) {
        min-height: 44px;
    }

    @include media-breakpoint-up(xl) {
        min-height: 44px;
    }

    .mainHeader {
        font-size: 1.25rem;
        color: $blueColor;
        padding-left: 15px;
        padding-right: 15px;

        @include media-breakpoint-up(xs) {
            width: 100%;
            padding: 5px 10px;
        }

        @include media-breakpoint-up(md) {
            width: 100%;
            padding: 5px 10px;
        }

        @include media-breakpoint-up(lg) {
            width: auto;
        }

        @include media-breakpoint-up(xl) {
            width: auto;
        }
    }

    .headerItems {
        margin-left: auto;
        display: $flex;

        .customBtn {
            margin-right: 5px;
        }

        @include media-breakpoint-up(sm) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        @include media-breakpoint-up(md) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        @include media-breakpoint-up(lg) {
            width: auto;
        }

        @include media-breakpoint-up(xl) {
            width: auto;
        }

        .header_spacer {
            margin-right: 5px;
        }

        .input-group {
            margin-bottom: 0px;

            @include media-breakpoint-up(sm) {
                width: 35%;
            }

            @include media-breakpoint-up(md) {
                width: 35%;
            }

            @include media-breakpoint-up(lg) {}

            @include media-breakpoint-up(xl) {}

            .input-group-btn {
                .btn.btn-default {
                    border-left: 0px;
                    transition: all .3s;

                    &:focus,
                    &:hover {
                        border-color: transparent;
                        background-color: rgba(0, 26, 112, 0.2);
                        color: $blueColor !important;
                    }
                }
            }
        }
    }
}

.footer_spacer {
    padding-right: 70px;
}

.chatWindow {
    position: absolute;
    bottom: 0px;
    right: 16px;
    z-index: 99;

    .chatBtn {
        width: 62px;
        height: 46px;
        background-color: $blueColor;
        border-radius: 6px 6px 0px 0px;
        display: $flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        right: 0px;

        .chatMessanger {
            margin: 0px;
            background-color: transparent;
            border: none;
            color: $white;
            font-size: 24px;
            position: relative;
            padding: 4px 16px;

            span {
                background-color: #628d19;
                position: absolute;
                top: 2px;
                font-size: 13px;
                padding: 0px 5px;
                border-radius: 3px;
                color: #fff;
                animation: chatCount 3s infinite linear;
            }

            @keyframes chatCount {
                0% {
                    transform: rotate(0deg);
                }

                55% {
                    transform: rotate(0deg);
                }

                65% {
                    transform: rotate(-45deg);
                }

                75% {
                    transform: rotate(45deg);
                }

                80% {
                    transform: rotate(0deg);
                    transform: scale(1);
                }

                85% {
                    transform: rotate(-45deg);
                    transform: scale(1.2);
                }

                95% {
                    transform: rotate(45deg);
                    transform: scale(1);
                }

                100% {
                    transform: rotate(0deg);
                }
            }
        }
    }

    .chatContent {
        width: 300px;
        height: 380px;
        position: fixed;
        background-color: $white;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, .15);
        transition: all .3s;
        background-color: #ececec;
        border: 1px solid $white;
        right: 16px;
        bottom: 0px;
        display: none;

        .chatSection {
            width: 100%;
            height: calc(100% - 40px);
            overflow-y: auto;
            display: none;
        }

        .chatHeader {
            width: 100%;
            background-color: $white;
            height: 40px;
            display: $flex;
            align-items: center;
            padding: 0px 0px 0px 16px;
            font-size: 14px;
            font-weight: bold;
            color: $blueColor;

            .closeChat {
                background-color: transparent;
                border: none;
                position: relative;
                cursor: pointer;
                margin: 0px;
                margin-left: 5px;
                width: 30px;
                height: 35px;

                span:nth-child(1) {
                    width: 14px;
                    height: 1px;
                    background-color: $blueColor;
                    display: block;
                    position: absolute;
                    transform: rotate(-45deg);
                }

                span:nth-child(2) {
                    width: 14px;
                    height: 1px;
                    background-color: $blueColor;
                    display: block;
                    position: absolute;
                    transform: rotate(45deg);
                }
            }

            .miniChat {
                background-color: transparent;
                border: none;
                position: relative;
                cursor: pointer;
                margin: 0px;
                margin-left: auto;
                width: 25px;
                height: 35px;
                display: $flex;
                align-items: center;


                span {
                    width: 14px;
                    height: 1px;
                    background-color: rgba(0, 26, 112, 0.5);
                    display: block;
                    position: absolute;
                    transition: all .3s;
                }
            }

            .expChat {
                span {
                    width: 14px;
                    height: 14px;
                    border: 1px solid rgba(0, 26, 112, 0.5);
                    background-color: transparent;
                    display: block;
                    position: absolute;

                }
            }
        }

        .chatInner {
            width: 100%;
            display: $flex;
            flex-direction: column;
            align-items: center;

            .chatTitle {
                width: 100%;
                text-align: center;
                font-size: 15px;
                color: $grayColor;
                padding: 15px 10px;

                span {
                    color: #001a70;
                    font-weight: bold;
                }
            }

            .chatGroup {
                width: 90%;
                height: 56px;
                background-color: $white;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
                display: $flex;
                border: 3px solid $white;
                align-items: center;
                margin-bottom: 12px;
                transition: all .3s;
                cursor: pointer;

                &:hover {
                    border: 3px solid rgba(0, 26, 112, 1);

                    .ChatGroupIcon {
                        background-color: rgba(0, 26, 112, 1);
                        color: $white;
                    }
                }

                .ChatGroupIcon {
                    width: 50px;
                    height: 50px;
                    background-color: rgba(0, 26, 112, 0.2);
                    display: $flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 26px;
                    color: rgba(0, 26, 112, 1);
                    transition: all .3s;
                }

                .chatGroupName {
                    font-size: 14px;
                    color: $grayColor;
                    margin-left: 12px;
                }
            }

            .chatHistoryBtn {
                margin-left: auto;
                margin-right: 5%;

                button {
                    margin: 0px;
                    background-color: rgba(0, 0, 0, .07);
                    color: $grayColor;
                    font-size: 14px;
                    border: none;
                    padding: 3px 10px;
                    border-radius: 2px;
                    transition: all .3s;

                    &:hover {
                        background-color: rgba(0, 0, 0, .2);
                    }

                    .fa {
                        font-size: 16px;
                    }
                }
            }

            .chatSelect {
                width: 90%;
            }

            .chartStart {
                button {
                    background-color: $white;
                    font-size: 14px;
                    font-weight: bold;
                    border: none;
                    border-radius: 3px;
                    padding: 8px 16px;
                    transition: all .3s;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);

                    &:focus {
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
                    }
                }
            }

            .textBtn {
                button {
                    background-color: transparent;
                    border: none;
                    padding: 8px 16px;
                    color: $grayColor;
                    font-weight: bold;
                    font-size: 13px;
                    transition: all .3s;

                    &:hover,
                    &:focus {
                        background-color: rgba(0, 0, 0, .1);
                    }
                }
            }

            .chatIconConnect {
                font-size: 36px;
                color: $blueColor;
            }

            .chatConnect {
                .lds-ellipsis {
                    display: inline-block;
                    position: relative;
                    width: 64px;
                    height: 64px;
                }

                .lds-ellipsis div {
                    position: absolute;
                    top: 27px;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background: #fff;
                    animation-timing-function: cubic-bezier(0, 1, 1, 0);
                }

                .lds-ellipsis div:nth-child(1) {
                    left: 6px;
                    animation: lds-ellipsis1 0.6s infinite;
                    background-color: rgba(0, 26, 112, 0.1);
                }

                .lds-ellipsis div:nth-child(2) {
                    left: 6px;
                    animation: lds-ellipsis2 0.6s infinite;
                    background-color: rgba(0, 26, 112, 0.3);
                }

                .lds-ellipsis div:nth-child(3) {
                    left: 26px;
                    animation: lds-ellipsis2 0.6s infinite;
                    background-color: rgba(0, 26, 112, 0.6);
                }

                .lds-ellipsis div:nth-child(4) {
                    left: 45px;
                    animation: lds-ellipsis3 0.6s infinite;
                    background-color: rgba(0, 26, 112, 0.9);
                }

                @keyframes lds-ellipsis1 {
                    0% {
                        transform: scale(0);
                    }

                    100% {
                        transform: scale(1);
                    }
                }

                @keyframes lds-ellipsis3 {
                    0% {
                        transform: scale(1);
                    }

                    100% {
                        transform: scale(0);
                    }
                }

                @keyframes lds-ellipsis2 {
                    0% {
                        transform: translate(0, 0);
                    }

                    100% {
                        transform: translate(19px, 0);
                    }
                }
            }

        }

        .chatList {
            width: 100%;
            height: calc(100% - 36px);
            overflow: auto;

            .chatItem {
                display: $flex;
                width: 100%;
                height: 34px;
                align-items: center;
                padding: 5px 12px;
                background-color: rgba(255, 255, 255, .4);
                border-bottom: 1px solid rgba(0, 0, 0, .07);
                cursor: pointer;
                transition: all .2s;

                &:hover {
                    box-shadow: 0px -34px 0px rgba(0, 26, 112, 0.1) inset;
                }

                .chatName {
                    font-size: 13px;
                    color: $grayColor;
                    font-weight: bold;
                    display: block;
                    margin: 0px;
                    width: 60%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-right: auto;
                }

                .teamName {
                    color: rgba(91, 103, 112, .5);
                    font-size: 11px;
                    font-weight: bold;
                    display: block;
                    margin: 0px;
                }

                .chatStatus {
                    width: 10px;
                    height: 10px;
                    display: block;
                    background-color: rgba(0, 0, 0, .2);
                    margin-left: 8px;
                    border-radius: 50%;
                    border: 1px solid $white;
                }

                .chatActive {
                    background-color: #1ace1a;
                }

                .chatIdle {
                    background-color: #d78e00;
                }

                .chatBusy {
                    background-color: #e84118;
                }
            }
        }

        .chatList::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        .chatList::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, .1);
        }

        /* Handle */
        .chatList::-webkit-scrollbar-thumb {
            background: rgba(0, 26, 112, 0.5);
        }

        /* Handle on hover */
        .chatList::-webkit-scrollbar-thumb:hover {
            background: rgba(0, 26, 112, .7);
        }

        .chatTabs {
            width: 100%;
            display: $flex;
            background-color: #d7d7d7;
            height: 35px;

            button {
                width: 50%;
                margin: 0px;
                color: $grayColor;
                font-size: 13px;
                font-weight: bold;
                background-color: #d7d7d7;
                border: none;
                padding: 8px;
                transition: all .3s;
                //&:focus{
                //background-color:rgba(255,255,255,.5);
                //color: $blueColor;
                // box-shadow: 0px -3px 0px rgba(0, 26, 112, 0.4) inset;
                //}
            }

            .chatTabAct {
                background-color: rgba(255, 255, 255, .5);
                color: $blueColor;
                box-shadow: 0px -3px 0px rgba(0, 26, 112, 0.4) inset;
            }
        }

        .chatBox {
            width: 100%;
            position: relative;
            padding: 0px 6px;

            .activeTyping {
                font-size: 10px;
                font-style: italic;
                color: $grayColor;

                label {
                    display: inline-block;
                    position: relative;
                    animation: wave 1.5s linear infinite;

                    &:nth-child(2) {
                        animation-delay: -1.1s;
                    }

                    &:nth-child(3) {
                        animation-delay: -0.9s;
                    }
                }

                @keyframes wave {

                    0%,
                    60%,
                    100% {
                        transform: initial;
                    }

                    30% {
                        transform: translateY(-5px);
                    }
                }
            }

            textarea {
                width: 100%;
                height: 44px;
                resize: none;
                padding: 5px 44px 5px 10px;
                background-color: rgba(0, 0, 0, .05);
                border: none;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, .25) inset;
                font-size: 12px;
                color: $grayColor;
            }

            .sendBtn {
                position: absolute;
                background-color: $white;
                border-radius: 3px;
                color: $blueColor;
                right: 5px;
                border: none;
                width: 36px;
                height: 36px;
                top: 23px;
                font-size: 18px;
                transition: all .3s;

                &:hover {
                    background-color: $blueColor;
                    color: #fff;
                }
            }
        }

        .proposalNameFixed {
            width: 100%;
            text-align: center;
            padding-top: 3px;
            padding-bottom: 3px;
            color: rgba(0, 0, 0, .6);
            background-color: #dbdbdb;
            height: 26px;

            span {
                font-weight: bold;
            }
        }

        .chatDisplay {
            width: calc(100% - 10px);
            margin-left: 5px;
            height: calc(100% - 94px);
            position: relative;
            display: $flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            overflow: auto;

            .chatDetails {
                width: 74%;
                background-color: #e0e0e0;
                margin-left: 13%;
                margin-right: 13%;
                text-align: center;
                border-radius: 3px;
                padding: 10px;
                font-size: 12px;
                margin-top: 40px;
                margin-bottom: 30px;

                span {
                    font-weight: bold;
                }
            }

            .chatClient {
                width: 100%;

                .chatMessage {
                    background-color: #d5d8e7;
                    padding: 5px 10px;
                    font-size: 12px;
                    font-weight: bold;
                    color: $grayColor;
                    max-width: 90%;
                }

                .chatTime {
                    font-size: 10px;
                    color: $grayColor;
                    position: relative;
                    padding-left: 15px;

                    span {
                        width: 0;
                        height: 0;
                        border-top: 7px solid transparent;
                        border-bottom: 7px solid transparent;
                        border-right: 7px solid #d5d8e7;
                        position: absolute;
                        transform: rotate(45deg);
                        top: -5px;
                        left: -1px;

                    }
                }
            }

            .chatFrom {
                width: 100%;
                padding-top: 5px;

                .chatMessage {
                    background-color: $white;
                    padding: 5px 10px;
                    font-size: 12px;
                    font-weight: bold;
                    color: $grayColor;
                    max-width: 90%;
                    margin-left: 10%;
                }

                .chatTime {
                    font-size: 10px;
                    color: $grayColor;
                    position: relative;
                    padding-right: 15px;
                    text-align: right;
                    width: 100%;
                    box-sizing: border-box;
                    overflow: hidden;

                    span {
                        width: 0;
                        height: 0;
                        border-top: 7px solid transparent;
                        border-bottom: 7px solid transparent;
                        border-left: 7px solid $white;
                        position: absolute;
                        transform: rotate(-45deg);
                        top: -5px;
                        right: -1px;

                    }
                }
            }
        }

        .chatDisplay::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        .chatDisplay::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, .1);
        }

        /* Handle */
        .chatDisplay::-webkit-scrollbar-thumb {
            background: rgba(0, 26, 112, 0.5);
        }

        /* Handle on hover */
        .chatDisplay::-webkit-scrollbar-thumb:hover {
            background: rgba(0, 26, 112, .7);
        }
    }

    .chatExpand {
        animation: chatIn .2s linear forwards;
    }

    .chatCollapse {
        bottom: -340px;
        animation: chatOut .3s linear forwards;
    }

    @keyframes chatIn {
        0% {
            bottom: -380px;
            opacity: 0;
        }

        100% {
            bottom: 0;
            opacity: 1;
        }
    }

    @keyframes chatOut {
        0% {
            bottom: 0px;
            opacity: 0;
        }

        100% {
            bottom: -340px;
            opacity: 1;
        }
    }

}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.tabSpace {
    margin-top: 40px;
}

.tableContainer {
    padding: 15px;
    max-height: calc(100% - 50px);
    width: 100%;
    overflow: auto;

    .status {
        color: rgba(0, 0, 0, .15);
    }

    .status.active {
        color: $greenColor;
    }

    .status.black {
        color: #000;
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    .customTable1 {
        border: 1px solid #ececec;
        font-size: 13px;

        .verified {
            color: $greenColor;

            label {
                font-weight: normal;
            }
        }

        tr {
            &:nth-child(even) {
                background-color: #ececec;
            }

            &:nth-child(odd) {
                background-color: $white;
            }

            td {
                border-color: #ececec;
                border: none;
                padding: 8px 10px;
                color: $grayColor;

                a {
                    text-decoration: underline;
                    color: $blueColor;
                }
            }

            th {
                border-color: #d5d8e7;
                background-color: #d5d8e7;
                color: $blueColor;
                height: 36px;
                padding: 10px;

                a {
                    padding-left: 5px;
                    font-size: 15px;
                }
            }
        }
    }
}

.fullBox {
    width: 100%;
    height: calc(100vh - 180px);
    background-color: $white;
    border: 1px solid #dfdfdf;
    margin-top: 15px;
    overflow: auto;

    .footerBtnBox {
        width: 100%;
    }
}

.deleteBtnTbl {
    display: inline-block;
    background-color: rgba($redColor, .6);
    color: $white;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    padding: 3px 8px;
    transition: all .3s;
    margin: 0px;

    &:hover {
        background-color: rgba($redColor, .5);
    }

    &:active {
        background-color: rgba($redColor, 1);
    }

    &:focus {
        background-color: rgba($redColor, 1);
    }
}

.blueBtnTbl {
    display: inline-block;
    background-color: rgba($blueColor, .6);
    color: $white;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    padding: 3px 8px;
    transition: all .3s;
    margin: 0px;

    &:hover {
        background-color: rgba($blueColor, .5);
    }

    &:active {
        background-color: rgba($blueColor, 1);
    }

    &:focus {
        background-color: rgba($blueColor, 1);
    }
}

.orangeBtnTbl {
    display: inline-block;
    background-color: rgba($orangeColor, .6);
    color: $white;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    padding: 3px 8px;
    transition: all .3s;
    margin: 0px;

    &:hover {
        background-color: rgba($orangeColor, .5);
    }

    &:active {
        background-color: rgba($orangeColor, 1);
    }

    &:focus {
        background-color: rgba($orangeColor, 1);
    }
}

.greenBtnTbl {
    display: inline-block;
    background-color: rgba($greenTwo, .6);
    color: $white;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    padding: 3px 8px;
    transition: all .3s;
    margin: 0px;

    &:hover {
        background-color: rgba($greenTwo, .5);
    }

    &:active {
        background-color: rgba($greenTwo, 1);
    }

    &:focus {
        background-color: rgba($greenTwo, 1);
    }
}

.customBtn {
    margin: 0px;
    padding: 7px 14px;
    border: none;
    background-color: $grayColor;
    font-size: 13px;
    color: $white;
    border-radius: 3px;
    transition: all .2s;
    box-shadow: 0px 3px 3px rgba(255, 255, 255, .2) inset;

    &:hover {
        box-shadow: 0px -40px 10px rgba(255, 255, 255, .2) inset;
    }

    ;

    &:active,
    &:focus {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, .3) inset;
    }

    ;
}

.c_del {
    background-color: rgba($redColor, .6);
}

.c_blue {
    background-color: rgba($blueColor, .6);
}

.blueBtn {
    background-color: rgba($blueColor, 1);
}

.c_green {
    background-color: rgba($greenTwo, 1);
}

.greenBtn {
    background-color: rgba($greenColor, 1);
}

.footerBtnBox {
    padding: 0px 15px 15px 15px;

    button {
        margin-right: 10px;
    }
}

.slideFooterBtn {
    padding: 15px 0px;

    button {
        margin-right: 10px;
    }
}

.colFooterBtn {
    padding-top: 15px;
    padding-bottom: 15px;

    button {
        margin-right: 10px;
    }
}

.hideInitial {
    display: none;
    transition: all .3s;
}

.contentOuter {
    padding: 15px;
    max-height: calc(100% - 50px);
    width: 100%;
    overflow: auto;
}

.tab-content {
    margin-top: 40px;

    .field-wrapper {
        margin-top: 25px;
    }
}

.padTopBottom {
    padding: 20px 0px;
}

.hideit {
    display: none;
}

.castCrew {
    h3 {
        font-size: 16px;
        font-weight: bold;
        color: $greenTwo;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;
    }
}

.customRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .crewField {
        width: calc(100% - 80px);
    }
}

.crewContainer {
    width: 100%;
    border: 1px solid #d8d8d8;
    min-height: 40px;
    padding-bottom: 10px;

    span {
        display: inline-block;
        white-space: nowrap;
        margin: 10px 0px 0px 15px;

        label {
            color: $grayColor;
            font-weight: normal;
            font-size: 14px;
        }

        a {
            display: inline-block;
            border: 1px solid #e1e1df;
            line-height: 13px;
            padding: 0px 2px;
            margin-left: 3px;
        }
    }
}

.tableEdit {
    width: 100%;

    th {
        border: 1px solid #d5d5d5;
        background-color: #f1f1f1;
        text-align: center;
        padding: 3px;
        color: $grayColor;
    }

    td {
        border: 1px solid #ededed;
        background-color: $white;
        padding: 3px 10px;
    }

    border-spacing: 5px;
    border-collapse: initial;

    .field-wrapper {
        margin-top: 18px;
        margin-bottom: 0px;
    }

    .fieldDelete {
        background-color: transparent;
        padding: 8px 10px;
        font-size: 17px;
        width: 100%;
        border: none;
        color: $grayColor;
    }
}

.padFive {
    padding: 5px;
}

.highLimit {
    @include media-breakpoint-up(sm) {
        height: auto;
    }

    @include media-breakpoint-up(md) {
        height: auto;
    }

    @include media-breakpoint-up(lg) {
        height: calc(100% - 40px);
    }

    @include media-breakpoint-up(xl) {
        height: calc(100% - 40px);
    }
}

.contentLimit {
    height: calc(100% - 40px);
}

.footButtonGroup {
    button {
        margin-right: 10px;
    }
}

.topButtonGroup {
    margin-top: 15px;

    button {
        margin-right: 10px;
    }
}

.highFull {
    height: 100%;
}

.uploadBox {
    width: 100%;
    height: calc(100% - 15px);
    border: 1px dashed #e1e1e1;
    padding: 10px;

    @include media-breakpoint-up(sm) {
        margin-bottom: 15px;
    }

    @include media-breakpoint-up(md) {
        margin-bottom: 15px;
    }

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    .uploadInner {
        display: flex;
        background-color: rgba(0, 26, 112, .03);
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;

        .customBtn {
            margin-top: 10px;
        }
    }

    .uploadImage {
        width: 46px;
        padding-bottom: 20px;

        img {
            width: 100%;
        }
    }
}

.uploadDetails {
    width: 100%;
    border: 1px solid #eeeeee;
    height: calc(100% - 15px);
    overflow-y: auto;
    padding: 20px 10px;

    @include media-breakpoint-up(sm) {
        margin-bottom: 15px;
    }

    @include media-breakpoint-up(md) {
        margin-bottom: 15px;
    }

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    .uploadListBox {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0px;
        }

        .uploadFormat {
            background-image: url('../../images/file_bg.png');
            width: 37px;
            height: 47px;
            color: #8c96a8;
            font-size: 11px;
            font-weight: bold;
            padding-top: 30px;
            padding-left: 5px;
            margin-right: 10px;
        }

        .uploadDropDown {
            button {
                padding: 5px 10px;
                font-size: 20px;
                margin: 0px;
                width: 28px;
                margin-left: 10px;
                color: rgba(0, 26, 112, .5);
                background-color: transparent;
                border: none;
                border-radius: 3px;
                transition: all .2s;

                &:hover {
                    background-color: rgba(0, 26, 112, .1);
                    color: rgba(0, 26, 112, 1);
                }
            }
        }

        .progressBox {
            width: calc(100% - 85px);

            .uploadSpec {
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                color: rgba(0, 26, 112, .4);

                div:last-child {
                    font-weight: bold;
                }
            }

            .uploadFileName {
                font-size: 12px;
                font-weight: bold;
                color: $grayColor;
            }

            .uploadBar {
                width: 100%;
                height: 3px;
                border-radius: 5px;
                background-color: #e1e1e1;
                margin-bottom: 5px;
                margin-top: 5px;
                overflow: hidden;

                .progressor {
                    height: 3px;

                }
            }
        }
    }

    .inProgress {
        .progressBox {
            .progressor {
                width: 35%;
                background-color: rgba(0, 26, 112, 1);
            }

            .uploadSpec {
                color: rgba(0, 26, 112, 1);
            }
        }
    }

    .completed {
        .progressBox {
            .progressor {
                width: 100%;
                background-color: rgba($greenColor, 1);
            }

            .uploadSpec {
                color: rgba($greenColor, 1);
            }
        }
    }

    .uploadError {
        .progressBox {
            .progressor {
                width: 100%;
                background-color: rgba($redColor, .7);
            }

            .uploadSpec {
                color: rgba($redColor, .7);
            }
        }
    }

}

.typeSearchBox {
    width: 100%;
    position: absolute;
    min-height: 30px;
    background-color: #fff;
    border: 1px solid #ccd1e2;
    top: 30px;
    box-shadow: 0px 3px 2px rgba(0, 48, 112, .2);
    font-size: 14px;
    padding: 5px 15px;
}

.slideHeader {

    h3 {
        border-bottom: 2px solid #6f96d0;
        padding-bottom: 18px;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        font-family: $font;
    }
}

.nopadding {
    padding: 0px;
}

.buttonsRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn-group {
        margin-bottom: 10px;
        margin-right: 10px;

        .icon_right {
            margin: 0px;
        }
    }
}

.slideouter {
    height: calc(100% - 70px);
    overflow-y: auto;
}

.slideouter::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.slideouter::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1);
}

/* Handle */
.slideouter::-webkit-scrollbar-thumb {
    background: rgba(0, 26, 112, 0.5);
}

/* Handle on hover */
.slideouter::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 26, 112, .7);
}

.feedbackSection_1 {
    width: 100%;
    max-height: calc(100% - 240px);
    padding: 15px;
    overflow-y: auto;
}

.feedbackSection_1::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.feedbackSection_1::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1);
}

/* Handle */
.feedbackSection_1::-webkit-scrollbar-thumb {
    background: rgba(0, 26, 112, 0.5);
}

/* Handle on hover */
.feedbackSection_1::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 26, 112, .7);
}

.commentTextBox {
    width: 100%;

    label {
        display: block;
        font-size: 14px;
        font-weight: normal;
        color: $grayColor;
    }

    textarea {
        display: block;
        width: 100%;
        height: 80px;
        resize: none;
        border: 1px solid #e1e1e1;
    }
}

.feedbackBox {
    background-color: rgba(0, 0, 0, .04);
    padding: 20px;
    border: 1px solid #e1e1e1;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0px;
    }

    h3 {
        font-size: 15px;
        font-weight: bold;
        color: $blueColor;
    }

    p {
        font-size: 14px;
        color: $grayColor;
        padding-top: 10px;
    }

    .feedbackRow {
        padding-top: 5px;

        label {
            font-size: 14px;
            color: $blueColor;
            font-weight: normal;
            display: inline-block;
            margin-right: 5px;
        }

        .dateStamp {
            font-size: 14px;
            font-weight: bold;
            color: $grayColor;
        }

        .ratingStar {
            font-size: 15px;
            color: $grayColor;

            i {
                cursor: pointer;
                transition: all .2s;

                &:hover {
                    color: $blueColor;
                }
            }

            i.rated {
                color: $blueColor;
            }
        }
    }
}

.slideInfoContainer {
    background-color: #ececec;
    padding: 15px 10px;
    font-size: 14px;
    color: $grayColor;

    .bolder {
        font-weight: bold;
        color: $blueColor;
    }

    .verticalPadding {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.slideInfoContainerBlue {
    background-color: #e5e8f1;
    padding: 15px 10px;
    font-size: 14px;
    color: $grayColor;
    margin-top: 15px;
    margin-bottom: 15px;

    .bolder {
        font-weight: bold;
        color: $blueColor;

        .lbRed {
            color: rgba($redColor, .6);
        }
    }

    .verticalPadding {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.content_transparent {
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    height: calc(100vh - 180px)
}

.doubleSide {
    // background-color: $white;
    // border:1px solid #dfdfdf;
    padding: 0px;
    padding-right: 7px;

    &:last-child {
        padding-right: 0px;
        padding-left: 7px;
    }

    .fieldContent {
        padding-top: 15px;
        min-height: 60px;
    }

    .tableContainer {
        height: calc(100% - 110px);
        overflow-y: auto;
    }
}

.outerline {
    border: 1px solid #ececec;
    padding: 10px;
}

.partialHigh {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    background-color: $white;
    border: 1px solid #dfdfdf;
    height: 100%;
}

.tableTitle {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight: bold;
    color: $blueColor;
    padding-bottom: 10px;
}

.filterCtrl {
    display: block;
    position: relative;
    width: 100%;

    button {
        background-color: transparent;
        border: none;
        display: inline-block;
        margin: 0px;

        &:first-child {
            margin-left: auto;
        }

        &:last-child {
            margin-left: 5px;
        }
    }
}

.dynamicFields {
    h3 {
        font-size: 15px;
        color: $blueColor;
        font-weight: bold;
        background-color: #d5d8e7;
        margin: 0px;
        padding: 10px 15px;
    }

    .field-wrapper {
        margin-top: 25px;
    }
}

.textBoxPadding {
    margin-top: 25px;
}

.minContent {
    height: calc(100vh - 180px);
}

.pop_fields {
    .field-wrapper {
        margin-top: 25px;
    }
}

.grayTableTitle {
    font-size: 15px;
    font-weight: bold;
    color: $grayColor;
}

.dynamicFields {
    h3 {
        font-size: 15px;
        color: $blueColor;
        font-weight: bold;
        background-color: #d5d8e7;
        margin: 0px;
        padding: 10px 15px;
    }

    .field-wrapper {
        margin-top: 25px;

        textarea {
            border: 1px solid #d6d6d6;
            width: 100%;
            min-height: 80px;
            resize: vertical;
        }

        .txtAreaLabel {
            color: #142c4c;
            font-size: 14px;
            font-weight: normal;
        }
    }
}

.textBoxPadding {
    margin-top: 25px;
}

.minContent {
    height: calc(100vh - 180px);
}

.customField {
    margin-top: 25px;

    textarea {
        border: 1px solid #d6d6d6;
        width: 100%;
        min-height: 80px;
        resize: vertical;
    }

    .txtAreaLabel {
        color: #142c4c;
        font-size: 14px;
        font-weight: normal;
    }
}

.field-wrapper {
    input[type="checkbox"] {
        visibility: hidden;
    }
}

//Business Case Widget
.widgetLimit {
    width: 100%;
    height: calc(100% - 65px);
    overflow-y: auto;
    margin-bottom: 15px;
}

.widgetContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 15px;
}

.widgetOuter {
    background-color: #f1f1f1;
    margin-top: 15px;
    border: 1px solid #cbcbcb;
    border-radius: 2px;

    &:nth-child(odd) {
        margin-right: 15px;
        margin-left: 15px;
        width: calc(50% - 30px);
    }

    &:nth-child(even) {
        margin-right: 15px;
        width: calc(50% - 15px);
    }
}

.widgetHeader {
    width: 100%;
    padding: 5px 15px;
    display: flex;
    align-items: center;

    h3 {
        max-width: 60%;
        font-size: 14px;
        color: $grayColor;
        font-weight: bold;
    }

    .widBtns {
        margin-left: auto;

        button {
            margin: 0px;
        }
    }
}

.dotBtn {
    min-height: 16px;
    min-width: 4px;
    background-color: transparent;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0px;
    border: none;
    padding: 2px 8px;
    border-radius: 10px;
    transition: all .2s;

    &:focus {
        background-color: rgba($blueColor, .2);
    }

    span {
        display: block;
        width: 4px;
        height: 4px;
        background-color: $blueColor;
        border-radius: 50%;
        margin-bottom: 2px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.widContent1 {
    width: 100%;
    background-color: $white;

    .largeText {
        width: 100%;
        min-height: 120px;
        background-color: #cdd1d4;
        border: none;
        padding: 10px 15px;
        color: $blueColor;
        font-weight: bold;
        font-size: 13px;
        text-align: center;
    }
}

.widgetContentMargin {
    margin: 0px 15px 15px 15px;
    width: calc(100% - 30px);
    padding: 0px 10px 10px 10px;
}

.widContent2 {
    width: 100%;
}

.widgetMargin {
    width: calc(100% - 30px);
    margin: 0px 15px 15px 15px;
}

.widContent3 {
    width: 100%;
    width: calc(100% - 30px);
    margin: 0px 15px 15px 15px;
}

.widHeading1 {
    width: 100%;
    position: relative;
    text-align: center;

    .headStrike {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $blueColor;
        top: 49%;
    }

    .headText {
        font-size: 16px;
        font-weight: bold;
        color: $grayColor;
        background-color: #fff;
        padding: 10px 15px;
        display: inline-block;
        position: relative;
    }
}

.widHeading2 {
    background-color: $blueColor;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 7px;

    .headStrike {
        display: none;
    }
}

.widHeading3 {
    color: $blueColor;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 7px;

    .headStrike {
        display: none;
    }
}

.multiTextArea {
    table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            border-width: 2px;
            border: 2px solid $white;
        }

        th {
            background-color: #3e92d0;
            color: $white;
            text-align: center;
            padding: 5px;
        }

        td {
            .largeText {
                width: 100%;
                min-height: 100px;
                background-color: #cdd1d4;
                border: none;
                padding: 10px 15px;
                color: $blueColor;
                font-weight: bold;
                font-size: 13px;
                text-align: center;
            }
        }
    }
}

.widgetTable {
    table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            border-width: 2px;
            border: 2px solid $white;
            text-align: center;
            padding: 5px;
        }

        th {
            background-color: #3e92d0;
            color: $white;
        }

        td {
            label {
                font-weight: normal;
            }

            &:first-child {
                text-align: left;
            }
        }

        tr {
            &:nth-child(odd) {
                background-color: #d8d9dd;
            }

            &:nth-child(even) {
                background-color: #e9e9e9;
            }
        }
    }
}

.widgetImage {
    width: 100%;
    background-color: #ccc;

    img {
        width: 100%;
    }
}

.slide10 {
    width: 10%;
    display: none;
}

.slide20 {
    width: 20%;
    display: none;
}

.slide30 {
    width: 30%;
    display: none;
}

.slide40 {
    width: 40%;
    display: none;
}

.slide50 {
    width: 50%;
    display: none;
}

.slide60 {
    width: 60%;
    display: none;
}

.slide70 {
    width: 70%;
    display: none;
}

.slide80 {
    width: 80%;
    display: none;
}

.slide90 {
    width: 90%;
    display: none;
}

.slide100 {
    width: 100%;
    display: none;
}

.headingBox {
    border: 1px solid #d5d5d5;
    padding: 25px 15px 0px 15px;
    margin-bottom: 20px;
}

.widgetBody {
    width: 100%;
    display: flex;

    .field-wrapper {
        margin-top: 25px;
    }

    .widBody {
        width: calc(50% - 5px);
        background-color: #f1f1f1;
        border: 1px solid #cbcbcb;
        padding: 10px 10px;
    }

    .widBodyContent {
        margin-right: 5px;
        padding-top: 5px;

        .bodyTitle {
            font-size: 14px;
            font-weight: bold;
            color: $blueColor;
            width: 100%;
        }

        .proper_Input {
            padding-top: 25px;

            .field-wrapper {
                margin-top: 0px;
            }
        }
    }

    .widBodyPreview {
        margin-left: 5px;

        .widPreviewTitle {
            width: 100%;
            color: $blueColor;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            padding-bottom: 15px;
        }
    }
}

.columnTitleInfo {
    width: 100%;

    .columnInfoBox {
        label {
            display: block;
            text-align: center;
            width: 100%;
            font-size: 13px;
            font-weight: bold;
            color: #5f5f5f;
        }

        div {
            width: 100%;
            border: 4px solid #cacaca;
            font-size: 14px;
            font-weight: normal;
            color: $grayColor;
            padding: 2px 3px;
        }
    }
}

.imgProp {
    padding-top: 15px;

    .radioUpload {
        label {
            padding-bottom: 5px;
            font-weight: normal;
            margin-right: 15px;
        }
    }
}

.accordionBox {
    padding: 15px;

    .panel-heading {
        background-color: rgba($blueColor, .2);
        padding: 0px;

        .panel-title {
            color: $blueColor;
            font-size: 15px;
            font-family: $font;
            font-weight: bold;

            a {
                padding: 10px 15px;
                display: flex;
                justify-content: space-between;
                width: 100%;

                .accordBtn {
                    width: 16px;
                    height: 16px;
                    padding: 0px;
                    margin: 0px;
                    position: relative;
                    border: none;
                    background-color: transparent;

                    span {
                        width: 100%;
                        height: 2px;
                        background-color: $blueColor;
                        display: block;
                        position: absolute;
                        transition: all .2s;

                        &:nth-child(1) {
                            transform: rotate(0deg);
                            opacity: 0;
                        }
                    }
                }

            }

            a.collapsed {
                .accordBtn.tog {
                    span {
                        &:nth-child(1) {
                            transform: rotate(90deg);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .panel-body {
        border-top-color: rgba($blueColor, .2);
    }

    .panel-default {
        border-top-color: rgba($blueColor, .2);
    }
}
.accordLevel_2{
     .panel-heading{
        background-color: #ececec;
        .panel-title{
            color: $grayColor;
            a{
                .arrowBtn{
                    background-color: transparent;
                    border:none;
                    margin:0px;
                    padding: 0px;
                    font-size: 15px;
                    span{
                        width: 10px;
                        height: 10px;
                        display: block;
                        border-right: 2px solid $grayColor;
                        border-bottom: 2px solid $grayColor;
                        position: relative;
                        transition: all .2s;
                        transform: rotate(225deg);
                    }
                }
            }
            a.collapsed{
                .arrowBtn{
                    span{
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    .panel-group{
        margin-bottom: 0px;
    }
    .panel-default{
        border-top-color: #ececec;
    }
    .panel-body{
        border:1px solid #ececec;
    }
}